@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  :root {
    --background: #ededed;
    --foreground: #171717;
    --card-background: #343b56;
    --card-foreground: #ededed;
    --card-text-legend: #1db489;
    --card-text-description: #1db489;
    --primary-button: #343b56;
    --primary-button-active: #1db489;
    --primary-button-text: #ededed;
    --primary-card-button: #007bff;
  }

  [data-theme='dark'] {
    --background: #1e202a;
    --foreground: #ededed;
    --card-background: #343b56;
    --card-foreground: #ededed;
    --card-text-legend: #1db489;
    --card-text-description: #1db489;
    --primary-button: #343b56;
    --primary-button-active: #1db489;
    --primary-button-text: #ededed;
    --primary-card-button: #007bff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
